In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from functools import reduce
import numpy as np

In [2]:
#importing 4 IMDB datasets into pandas
titles = pd.read_csv("../data/title.akas.tsv", delimiter = "\t")
basics = pd.read_csv("../data/title.basics.tsv", delimiter = "\t")
crew = pd.read_csv("../data/title.crew.tsv", delimiter = "\t")
ratings = pd.read_csv("../data/title.ratings.tsv", delimiter = "\t")

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#many of the rows in the titles data set were repeats since there was one row for each title of the movie
#ex: An American movie would have a different name overseas, and would be listed in its own row
titles = titles[titles['types'] == 'original']

#setting column names to stat consistent with other data files
titles.columns = ['id', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle']
basics.columns = ['id', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres']

crew.columns = ['id', 'directors', 'writers']
ratings.columns = ['id', 'averageRating', 'numVotes']

In [4]:
#merging 4 data frames on the 'id' column
data_frames = [titles, basics, crew, ratings]
data = reduce(lambda  left,right: pd.merge(left,right,on=['id'], how='outer'), data_frames)

In [5]:
#dropping rows with no title, not sure how that happend, but I still have close to half a million rows
data = data.drop(data.tail(6620615).index,inplace=False)

In [6]:
#replacing \N entried with NaN, might change later
data = data.replace('\\N', np.NaN)

In [7]:
#putting my marged dataset into a csv file that is ready for use
data.to_csv('../data/data_file.csv')